[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8

trim_trailing_whitespace = true
insert_final_newline = true

[.git*]
indent_size = tab
indent_style = tab

[{**.*sh,**.bats}]
shell_variant = bash
binary_next_line = true  # like shftm -bn
switch_case_indent = true  # like shftm -ci
space_redirects = true  # like shftm -sr
keep_padding = false # like shftm -kp

[**.bats]
shell_variant = bats

[{**.md,**.json,**.yml,**.yaml}]
indent_size = 2
